<%layout("layouts/boilerplate")-%>
<link rel="stylesheet" href="/home.css" />

<section>
  <div class="container-fluid p-0 mb-md-3 mb-0 pt-5 mt-1">
    <div class="row align-items-center pt-1">
      <div class="col-md-6 text-center d-none d-md-block">
        <h2 class="title">My / Photos</h2>
        <h2 class="title">My / Photos</h2>
        <h2 class="title">My / Photos</h2>
        <h2 class="title">My / Photos</h2>
        <h2 class="title">My / Photos</h2>
      </div>
      <div class="d-md-none text-center mb-3 pt-2 mainHead">
        <h2 class="title">My Photos</h2>
      </div>
      <div class="col-md-6 mb-md-3 mb-0">
        <img
          src="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid p-0 mb-md-3 mb-0">
    <div class="row align-items-center">
      <div class="col-md-6 order-md-1 order-2 px-0">
        <img
          src="https://images.unsplash.com/photo-1459213599465-03ab6a4d5931?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80"
          alt=""
        />
      </div>
      <div class="col-md-6 order-md-2 order-1">
        <div class="row justify-content-center">
          <div class="col-10 text-center d-none d-md-block">
            <h2 class="picHead1">About this Picture</h2>
            <p class="para1">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione
              delectus dolorem eum et esse assumenda? Tenetur nam nisi
              doloremque repellendus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid px-0">
  <div class="row align-items-center px-0">
    <div class="col-md-4 pr-md-1 px-0 mb-md-3 mb-0">
      <img
        src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80"
        alt=""
      />
    </div>
    <div class="col-md-4 px-md-1 px-0 mb-md-3 mb-0">
      <img
        src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1510&q=80"
        alt=""
      />
    </div>
    <div class="col-md-4 pl-md-1 px-0 mb-md-3 mb-0">
      <img
        src="https://images.unsplash.com/photo-1547093349-65cdba98369a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
        alt=""
      />
    </div>
  </div>
</section>

<section>
  <div class="row align-items-center">
    <div class="col-md-4 px-0 d-none d-md-block mb-5">
      <div class="row justify-content-center">
        <div class="col-10 text-center">
          <h2 class="picHead">About Picture 1</h2>
          <p class="para">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione
            delectus dolorem eum et esse assumenda? Tenetur nam nisi doloremque
            repellendus.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 px-0 d-none d-md-block mb-5">
      <div class="row justify-content-center">
        <div class="col-10 text-center">
          <h2 class="picHead">About Picture 2</h2>
          <p class="para">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione
            delectus dolorem eum et esse assumenda? Tenetur nam nisi doloremque
            repellendus.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 px-0 d-none d-md-block mb-5">
      <div class="row justify-content-center">
        <div class="col-10 text-center">
          <h2 class="picHead">About Picture 3</h2>
          <p class="para">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione
            delectus dolorem eum et esse assumenda? Tenetur nam nisi doloremque
            repellendus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
